body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 91% 9%); /* Altere para a cor desejada ou substitua por uma imagem de fundo */
}

header {
    position: relative;
    height: 200px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}


.header-background {
    background-image: url(Img/jaja.png); /* Substitua 'header-image.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



.header-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1; /* Remover o espaçamento padrão da lista */
    text-align: left; /* Alinhar a lista ao centro */
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.5s ease; /* Adicionando transição suave para a cor do link */
}

nav a:hover {
    color: #000000; /* Cor do link ao passar o mouse */
}
section {
    max-width: 1200px;
    margin:  20px auto;
    padding: 20px;
}

h1 {
    color: rgb(7, 7, 7);
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
